
.mb-table {
  display: table;
}

.mb-tr {
  display: table-row;
}

.mb-td {
  display: table-cell;
  vertical-align: top;
}

.mb-thumb {
  max-width: 120px;
  height: auto;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 10px 10px 10px 0;
}
